* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: Arial, Helvetica, serif;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5px;
 background-color: #be2828;
 position: relative;
 z-index: 1;
 top: 0;
 width: 100%;
}

.navbar a{
  color: white;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 32px;
 color: white;
}
.menu li:hover {
 background-color: red;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 30px 14px;
 float: right;
}

.logo {
 font-size: 32px;
 padding:  20px;
}

.logoSpace {
	width: 100px;
	height: 100px;
	margin-left: 20px;
}

.centerit{
  text-align: left; 
  display:flex; 
  flex-direction: column; 
  align-items: center;
}

br {
   display: block;
   content: "";
   margin: 50px 0;
}

.sidenav {
  height: 83.5vh;
  width: 11vw;
  position: relative;
  z-index: 0;
  background-color: #929292;
  overflow-x: hidden;
  float: left;
}

.sidenav a {
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-decoration: none;
  font-size: 1.8vw;
  display: block;
  color: white;
}

.sidenav a:hover {
 background-color: #be2828;
 border-radius: 50px;
 transition: 0.3s ease;
}

.center {
  display: block;
  margin-left: 15vw;
  margin-right: auto;
  width: 80%;
  height: 50%;
  margin-top: 7vh;
  display: flex;
}

.sidenav a.active {
	background-color: #be2828;
	color: yellow;
	border-radius: 50px;
}

.container {
	position: sticky;
	text-align: center;
	color: black;
	overflow: hidden;
	z-index: -1;
}

.cTitle {
	position: absolute;
	top: 10%; left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	background-color: rgba(255,255,255,0.45);
	font-size: 2vw;
}

.cMiddle {
	position: absolute;
	top: 50%; right: 50%;
	transform: translate(50%);
	font-size: 1.6vw;
	font-family: Arial, Helvetica, serif;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.45);
}

.cBottom {
	position: absolute;
	top: 80%; left: 50%;
	transform: translate(-50%);
	font-size: 1.5vw;
	font-family: Arial, Helvetica, serif;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.45);
}

.centered {
	position: absolute;
	left: 55vw;
	top: 58%;
	transform: translate(-50%, -50%);
	/*border: 5px solid #FFFF00;*/
	text-align: center;
	width: 50vw;
}

.bigLogo {
	height: 30%;
	width: 30%;
}

.center p {
  flex-direction: row;
  font-size: 20px;
}

.center button {
  flex-direction: row;
  font-size: 20px;
  height: 5vh;
  width:  10vw;
  border-radius: 10px;
}
